button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#777777;
    font-family: Arial, serif;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}

#showForm {
    display: none;
}

/* top */
#languages {
    position: absolute;
    margin-top: 5px;
    right: 5px;
}

#id {
    margin: 50px;
    background: #eee;
    border: groove;
    position: relative;
    width: 750px;
    height: 330px;
    font-family: Arial;
}

#product {
    width: 450px;
}

#productTitle {
    margin: 5px;
    width: 187%;
}

#productDescription {
    text-align: justify;
    margin-left: 5px;
    width: 280px;
}

#productImage {
    position: absolute;
    height: 200px;
    width: auto;
    margin: 5px 5px;
}

#productPrice {
    position: absolute;
    margin: 5px;
    top: 150px;
    left: 300px;
}

#productStock {
    position: absolute;
    margin: 5px;
    top: 200px;
    left: 300px;
    text-align: justify;
}

#productsInCart {
    position: absolute;
    margin: 5px;
    top: 250px;
    left: 300px;
}

#total {
    position: absolute;
    margin: 5px;
    top: 300px;
    left: 300px;
}

#purchaseForm {
    position: absolute;
    width: 250px;
    bottom: 0;
    right: 0;
}

#billingAddress {
    float: right;
    border: groove;
    text-align: end;
    display: none;
}


