body {
    color: #2a3138;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.topbar {
    width: 100%;
    height: 50px;
    background: #2a3138;
    line-height: 50px;
    color: #fff;
    font-size: 14px;
}

.header {
    padding: 50px 0;
}

.header h1 {

}

.header h1 span {
    font-weight: 600;
}

.navigation {
    width: 100%;
    height: 60px;
    background: #408DD2;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    display: block;
    float: left;
}

.navigation ul li a {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    color: #fff;
    text-decoration: none;
}

.navigation ul li a i {
    line-height: 60px;
    font-size: 22px;
}

.navigation ul li a:hover {
    background: #4496e0;
}

.product {

}

.product .product-description {
    margin: 50px 30px;
}

.product .product-description h1 {
    font-weight: 100;
    font-size: 30px;
    color: #2a3138;
}

.product .product-description p {
    color: #636264;
    line-height: 1.6;
}

.btn-buy {
    background: #4496e0;
    border-color: #4496e0;
    border-radius: 2px 2px 2px 2px;
    padding: 15px 20px 40px 20px;
    margin: 0;
    position: relative;
    border: 0 none;
}

.btn-buy span {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;

    font-size: 12px;
    background: #4e699c;
    width: 100%;
    padding: 5px 20px;
    color: #a6c7ff;
    border-radius: 0 0 2px 2px;
}

.btn-buy span i {
    margin-right: 5px;
}

.btn-buy:hover {
    background: #49a4f3;
}

.product-buy-container {
    position: relative;
}

.shopware-popup {
    position: absolute;
    width: 400px;
    background: #fafafa;
    left: -75px;
    top: 90px;
    /*border: 1px solid #c5c5c7;*/
    box-shadow: 0 0 5px 1px rgba(0,0,0,.2);
    z-index: 1000;
    padding-bottom: 40px;
    border-radius: 3px 3px 3px 3px;
}

.shopware-popup .title {
    background: #2a3138;
    color: #fff;
    font-size: 13px;
    padding: 8px 15px;
    border-radius: 3px 3px 0 0;
}

.shopware-popup .title:before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background: #2a3138;
    top: -5px;
    left: 195px;
    transform: rotate(45deg);
}

.shopware-popup .title i {
    margin-right: 5px;
    color: #00c600;
}

.shopware-popup .content {
    padding: 10px 15px;
}

.shopware-popup .content .form-element {
    margin-bottom: 10px;
}

.shopware-popup .content .form-element label {
    color: #999;
    font-size: 13px;
    margin: 0;
    padding: 0;
    margin-bottom: 3px;
}

.shopware-popup .content .form-element input {
    border-radius: 3px 3px 3px 3px;
    width: 100%;
    font-size: 15px;
    padding: 5px 10px;
    border: 1px solid #eaeaea;
}

.shopware-popup .content .form-element select {
    border-radius: 3px 3px 3px 3px;
    width: 100%;
    font-size: 15px;
    background: #fff;
    border: 1px solid #eaeaea;
}

.shopware-popup .content .form-element input::placeholder {
    color: #999;
}

.shopware-popup .content .form-action button.btn-submit {
    width: 100%;
    background: #4496e0;
    border: 0 none;
    border-radius: 0 0 0 0;
    text-shadow: none;
    font-size: 14px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px 0;
    border-radius: 0 0 3px 3px;
}
